In [51]:
import laspy
import numpy as np
import pandas as pd

In [182]:
las = laspy.read("jwaneng_highwall_1_labelled_pointcloud.las")
classes = las.classification.array
xyz = las.xyz
origin = np.min(xyz, axis=0)
scaled = np.array((xyz - origin) / 0.25, dtype=np.int32)
scaled.shape

(28652, 3)

In [178]:
scaled_xyz_max = np.max(scaled, axis=0)
min_req_bits = [int(num) for num in np.ceil(np.log2(scaled_xyz_max))]
min_req_bits

[7, 9, 6]

In [181]:
shifts = np.array([16, 6, 0], dtype=np.uint8)
idx = np.sum(np.left_shift(scaled, shifts), axis=1)
idx.shape

(28652,)

In [85]:
a = np.vstack((idx, cls)).T

In [175]:
df = pd.DataFrame(cls, columns=['class'], index=idx)
df.head()

       class
27219     20
27283     20
27284     20
27285     20
27348     20

In [193]:
rmse = las.intensity
rmse.shape

(28652,)

In [201]:
df['rmse'] = rmse
df.head()

       class   rmse
27219     20   9993
27283     20  13496
27284     20  11416
27285     20   3655
27348     20  17099

In [220]:
np.sum(las.user_data, axis=0)

0